@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h1 {
    line-height: 24px;
}

#Board {
    
    aspect-ratio: 1;
    margin: auto;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

@media (min-height: 550px)
{

    #Board {
        height: calc(100vh - 275px);
    }

    @media (max-width: calc(100vh - 250px))
    {

        #Board {
            height: auto;
            width: 80%;
        }

        #Page {
            transform: translateY(calc(50vh - 50%));
        }

    }

}

@media (max-height: 550px)
{

    #Board {
        width: 80%;
    }

}

.Row {
    height: 12.5%;
    width: 100%;
    font-size: 0;
}

.Square {
    height: 100%;
    width: 12.5%;
    display: inline-block;
    vertical-align: top;
}

.Dark {
    background-color: lightgray;
}

.Location {
    width: 25%;
    height: 22.5%;
    color: gray;
    margin-left: calc(75% - 2px);
    margin-top: 2px;
}

.Piece {
    height: 80%;
    width: 80%;
    padding: 10%;
    position: relative;
    bottom: calc(2px + 39.5%);
}

#AWS {
    width: 150px;
    margin-top: 15px;
}

#Github {
    width: 40px;
    margin-top: 15px;
    margin-left: 50px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    border-color: lightgray;
    background-color: whitesmoke;
}

#Github:hover {
    background-color: lightgray;
    border-color: gray;
}