@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h1 {
    line-height: 24px;
}

#Board { 
    width: 600px;
    height: 600px;
    margin: auto;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

.Row {
    height: 12.5%;
    font-size: 0;
    display: flex;
}

.Square {
    flex: 1;
    position: relative;
}

.Dark {
    background-color: lightgray;
}

.Location {
    margin: 0;
    font-size: 15px;
    color: gray;
    position: absolute;
    top: 2px;
    right: 2px;
}

.Piece {
    height: 80%;
    width: 80%;
    padding: 10%;
}

#AWS {
    width: 150px;
    margin-top: 15px;
}

#Github {
    width: 40px;
    margin-top: 15px;
    margin-left: 50px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    border-color: lightgray;
    background-color: whitesmoke;
}

#Github:hover {
    background-color: lightgray;
    border-color: gray;
}

@media (max-width: 700px) {
    #Board {
        width: 320px;
        height: 320px;
    }

    .Location {
        font-size: 5px;
    }
}