@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h1 {
    line-height: 24px;
}

#aws {
    width: 150px;
    display: block;
    margin-left: calc(50vw - 75px);
}

#github {
    width: 40px;
    margin-top: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    border-color: black;
}

#github:hover {
    background-color: rgb(225, 225, 225);
}